<div id="mobile-menu" class="mobile-menu">
    <div class="container">
        <div class="mobile-menu__header">
            <a href="#" class="mobile-menu__logo logo">Rentiz</a>
            <!-- <button id="mobile-btn" class="mobile-menu__btn"></button> -->
        </div>
        <nav class="mobile-menu__nav">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item"><a href="#!" class="mobile-menu__link">Home</a></li>
                <li class="mobile-menu__item"><a href="#!" class="mobile-menu__link">About us</a></li>
                <li class="mobile-menu__item mobile-services">
                    <button class="mobile-services__btn-dropdown">
                        Services
                        <svg>
                            <use href="./img/svgsprite/sprite.symbol.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <ul class="mobile-services__list">
                        <li class="mobile-services__item"><a href="#!" class="mobile-services__link">Buying</a></li>
                        <li class="mobile-services__item"><a href="#!" class="mobile-services__link">Renting</a></li>
                        <li class="mobile-services__item"><a href="#!" class="mobile-services__link">Selling</a></li>
                    </ul>
                </li>
                <li class="mobile-menu__item"><a href="#!" class="mobile-menu__link">Contact us</a></li>
            </ul>
        </nav>
        <div class="mobile-menu__contacts">
            <a href="#!" class="mobile-menu__contact">
                <span class="visually-hidden">Facebook</span>
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#facebook"></use>
                </svg>
            </a>
            <a href="#!" class="mobile-menu__contact">
                <span class="visually-hidden">Instagram</span>
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#instagram"></use>
                </svg>
            </a>
            <a href="#!" class="mobile-menu__contact">
                <span class="visually-hidden">Twitter</span>
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#twitter"></use>
                </svg>
            </a>
            <a href="#!" class="mobile-menu__contact">
                <span class="visually-hidden">Youtube</span>
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#youtube"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
