<div class="popular-card">
    <img class="popular-card__img" src="../../img/popular-slider/popular-house-01.jpg" alt="House Aliva Priva Jalvin" loading="lazy" width="460px" height="auto" />
    <div class="popular-card__info">
        <h3 class="popular-card__title title">Aliva Priva Jalvin</h3>
        <p class="text popular-card__location">1087 Pin Oak Drive, Clinton, USA</p>
        <div class="popular-card__features">
            <div class="popular-card__feature">
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#card-bed"></use>
                </svg>
                4 beds
            </div>
            <div class="popular-card__feature">
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#card-bath"></use>
                </svg>
                2 bath
            </div>
            <div class="popular-card__feature">
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#card-square"></use>
                </svg>
                1203 Sqft.
            </div>
        </div>
    </div>
</div>
