.filter-dropdown {
    width: 100%;
    background-color: var(--bg-color-white);
    color: #858585;
    text-align: left;
    transition: all 0.3s ease-in-out;

    // .filter-dropdown__list

    &__list {
        display: flex;
        flex-direction: column;
    }

    // .filter-dropdown__item

    &__item {
        transition: all 0.3s ease-in-out;
        line-height: 126%;
        padding: 15px;
        @media (hover: hover) {
            &:hover {
                color: var(--text-color-dark);
                background-color: var(--text-color-gray);
            }
        }
    }
}