.filter-dropdown {
    width: 100%;
    background-color: var(--bg-color-white);
    color: #858585;
    text-align: left;
    transition: all 0.3s ease-in-out;

    // .filter-dropdown__list

    &__list {
        display: flex;
        flex-direction: column;

        @include min-sm {
            padding-top: 5px;
        }
    }

    // .filter-dropdown__item

    &__item {
        transition: all 0.3s ease-in-out;
        line-height: 126%;
        @include clamp (padding, 5px, 15px, 320px, 1440px);

        @media (max-width: 375px) {
            padding: 10px 15px;
        }

        @media (hover: hover) {
            &:hover {
                color: var(--text-color-dark);
                background-color: var(--text-color-gray);
            }
        }

        &._disabled {
            cursor: not-allowed;
            pointer-events: none;
            background-color: var(--text-color-gray);
        }
    }
}