<section class="section section_features">
    <div class="container">
        <div class="features">
            <h2 class="title features__title">Why to choose us</h2>
            <div class="features__items features-block">
                <div class="features-block_item">
                    <div class="features-block__img">
                        <img src="../../img/icons/features-loupe.png" alt="Easy to find" />
                    </div>
                    <h3 class="title features-block__title">Easy to find</h3>
                    <p class="text features-block__text">Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet facilisis.</p>
                </div>
                <div class="features-block_item">
                    <div class="features-block__img">
                        <img src="../../img/icons/features-price.png" alt="Affordable Prices" />
                    </div>
                    <h3 class="title features-block__title">Affordable Prices</h3>
                    <p class="text features-block__text">Ac, gravida in diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui pellentesque.</p>
                </div>
                <div class="features-block_item">
                    <div class="features-block__img">
                        <img src="../../img/icons/features-quick.png" alt="Quickly Process" />
                    </div>
                    <h3 class="title features-block__title">Quickly Process</h3>
                    <p class="text features-block__text">Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium amet facilisis.</p>
                </div>
            </div>
            <div class="features__slider features-slider"></div>
        </div>
    </div>
</section>
