<section class="section section_hero">
    <div class="container">
        <div class="hero">
            <div class="hero__info">
                <h1 class="title hero__title">Perfect way to buy and sell a home</h1>
                <p class="text hero__text">Diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui pellentesque. Ac, gravida in eget non amet eget purus non.</p>
                <div class="hero__filter filter">
                    <div class="filter__block filter__block_purpose">
                        <button class="filter__item">
                            <span class="visually-hidden">Choose purpose</span>
                            <div class="filter__name">
                                Purpose
                                <svg>
                                    <use href="./img/svgsprite/sprite.symbol.svg#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="filter__value">Choose</div>
                            <div class="filter__dropdown filter-dropdown">
                                <ul class="filter-dropdown__list">
                                    <li data-state="default" class="filter-dropdown__item _disabled">Reset purpose</li>
                                    <li class="filter-dropdown__item">Buy</li>
                                    <li class="filter-dropdown__item">Sell</li>
                                    <li class="filter-dropdown__item">Rent</li>
                                </ul>
                            </div>
                        </button>
                    </div>
                    <div class="filter__block filter__block_location">
                        <button class="filter__item">
                            <span class="visually-hidden">Choose house location</span>
                            <div class="filter__name">
                                Location
                                <svg>
                                    <use href="./img/svgsprite/sprite.symbol.svg#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="filter__value">Choose</div>
                            <div class="filter__dropdown filter-dropdown">
                                <ul id="locations" class="filter-dropdown__list">
                                    <li data-state="default" class="filter-dropdown__item _disabled">Reset location</li>
                                </ul>
                            </div>
                        </button>
                    </div>
                    <div class="filter__block filter__block_type">
                        <button class="filter__item">
                            <span class="visually-hidden">Choose house type</span>
                            <div class="filter__name">
                                Type
                                <svg>
                                    <use href="./img/svgsprite/sprite.symbol.svg#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="filter__value">Choose</div>
                            <div class="filter__dropdown filter-dropdown">
                                <ul id="type" class="filter-dropdown__list">
                                    <li data-state="default" class="filter-dropdown__item _disabled">Reset type</li>
                                </ul>
                            </div>
                        </button>
                    </div>
                    <button class="filter__btn btn"><span class="visually-hidden">Search your preferences</span>Search</button>
                </div>
            </div>
            <img class="hero__img" src="../../img/hero.jpg" width="700" height="645" alt="Big house"/>
            <svg class="hero__overlay">
                <use href="./img/svgsprite/sprite.symbol.svg#hero-overlay"></use>
            </svg>
        </div>
    </div>
</section>
