<section class="section section_partners">
    <div class="container">
        <div class="partners">
            <h2 class="title partners__title">Featured In</h2>
            <div class="partners__items">
                <a href="#!" class="partners__item">
                    <svg width="183" height="40">
                        <use href="./img/svgsprite/sprite.symbol.svg#partners-01"></use>
                    </svg>
                </a>
                <a href="#!" class="partners__item">
                    <svg width="136" height="33">
                        <use href="./img/svgsprite/sprite.symbol.svg#partners-02"></use>
                    </svg>
                </a>
                <a href="#!" class="partners__item">
                    <svg width="181" height="48">
                        <use href="./img/svgsprite/sprite.symbol.svg#partners-03"></use>
                    </svg>
                </a>
                <a href="#!" class="partners__item">
                    <svg width="166" height="66">
                        <use href="./img/svgsprite/sprite.symbol.svg#partners-04"></use>
                    </svg>
                </a>
                <a href="#!" class="partners__item">
                    <svg width="147" height="44">
                        <use href="./img/svgsprite/sprite.symbol.svg#partners-05"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
