<section class="section section_popular">
    <div class="container">
        <div class="popular-products">
            <h2 class="title popular-products__title">popular products</h2>
            <div class="popular-products__slider swiper">
                <div class="popular-products__slides swiper-wrapper">
                    <div class="popular-products__slide swiper-slide">
                    </div>
                </div>
                <div class="popular-products__arrows">
                    <div class="popular-products__arrow popular-products__arrow_prev slider-arrow">
                        <svg>
                            <use href="./img/svgsprite/sprite.symbol.svg#slider-arrow"></use>
                        </svg>
                    </div>
                    <div class="popular-products__arrow popular-products__arrow_next slider-arrow">
                        <svg>
                            <use href="./img/svgsprite/sprite.symbol.svg#slider-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <a href="#!" class="btn popular-products__btn">View all properties</a>
        </div>
    </div>
</section>

