.slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    @include clamp (width, 50px, 78px, 320px, 1440px);
    @include clamp (height, 50px, 78px, 320px, 1440px);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    @include md {
        border: none;
        width: max-content;
        height: max-content;
    }

    svg {
        width: 14px;
        height: 22.3px;
        fill: var(--bg-color-white);
        transition: all 0.3s ease-in-out;
    }

    &.swiper-button-disabled {
        svg {
            opacity: 0.5;
        }
    }

    @media (any-hover:hover) {

        &:hover {
            background-color: var(--bg-color-white);
        }

    }

    @media (hover:none) {

        &:active {
            svg {
                fill: var(--bg-color-accent);
            }

            @include min-md {
                background-color: var(--bg-color-white);
            }
        }

    }
}